.mainLogo {
  position: absolute;
  width: 24.58%;
  height: 14.72%;
  left: 3.47%;
  top: 4.88%;
}

.logout {
  position: absolute;
  width: 19.63%;
  height: 9.76%;
  right: 3.49%;
  top: 4.88%;
}

.verPublicidad {
  display: block;
  width: 62.08%;
  height: 16.21%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26.85%;
}
