.logo {
  position: absolute;
  width: 469.46px;
  height: 287px;
  left: 485px;
  top: 80px;
}

.iniciarSesion {
  position: absolute;
  width: 229px;
  height: 37px;
  left: 287px;
  top: 460px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #91959d;
}

.greenRectangle {
  position: absolute;
  width: 982px;
  height: 347px;
  left: 240px;
  top: 425px;

  background: rgba(45, 204, 138, 0.3);
  border-radius: 10px;
}

.googleButton {
  position: absolute;
  width: 894px;
  height: 120px;
  left: 284px;
  top: 510px;
}

.terminosCondiciones {
  position: absolute;
  width: 894px;
  height: 65px;
  left: 284px;
  top: 663px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #91959d;
}
